
body {
  margin: 0;
}

button {
  background-color: #273c75;
  border: unset;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:hover, button:disabled {
  background-color: #192a56;
}

.App {
  text-align: center;
}

.main {
  background-color: #273c75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display {
  background-color: #dcdde1;
  color: black;
  margin: 2.5rem;
  padding: 2.5rem;
  border-radius: 1rem;
}

.string-tab {
  list-style-type: none;
  flex-basis: 15%;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}