
body {
  margin: 0;
}

button {
  background-color: #273c75;
  border: unset;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:hover, button:disabled {
  background-color: #192a56;
}

.App {
  text-align: center;
}

.chord-selector {
  width: 80vw;
  height: 90vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.tab-builder {
  width: 80vw;
  height: 90vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.main {
  background-color: #273c75;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab {
  background-color: #dcdde1;
  color: black;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.menu {
  min-width: 15vw;
  max-width: 15vw;
}

.nav {
  max-width: 8vw;
  min-width: 8vw;
  height: 90vh;
}

.string-tab {
  list-style-type: none;
  flex-basis: 15%;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
}

.padding-child div {
  padding: 0.5rem;
}