
body {
  margin: 0;
}

.App {
  text-align: center;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.string-tab {
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}